.page-wrapper {
  display: flex;
  text-align: center;
  padding: 5rem 1rem;
}
.page-content {
    padding: 5vw 0;
    display: block;
    margin: 0 auto;

    & h2{
    font-size: 20px;
    color: #121212;
  }

    p {
    font-size: 16px;
    color: #121212;
    padding-bottom: 3rem;
  }
   .not-search{
    font-size: 16px;
    padding-top: 3rem;
  } 
  }
 
/*   TB    */
@media screen and (min-width: 429px)and (max-width: 960px){

.page-content {

    & h2{
    font-size: 3rem;
  }

    p {
    font-size: 2rem;
  }
   .not-search{
    font-size: 2rem;
  }
  }
}

/*   PC    */
@media screen and (min-width:  961px) {

.page-content {

    & h2{
    font-size: 3rem;
  }

    p {
    font-size: 1rem;
  }
   .not-search{
    font-size: 1.3rem;
    padding-top: 3rem;
  }
  }
}